<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>Serverlets.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTopic</servlet-name>
        <servlet-class>Serverlets.AddTopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTopicsServlet</servlet-name>
        <servlet-class>Serverlets.ShowTopicsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBlogName</servlet-name>
        <servlet-class>Serverlets.ChangeBlogNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTopic</servlet-name>
        <servlet-class>Serverlets.RemoveTopicsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePost</servlet-name>
        <servlet-class>Serverlets.RemovePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPost</servlet-name>
        <servlet-class>Serverlets.ShowPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGrade</servlet-name>
        <servlet-class>Serverlets.AddGradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllTopicsServlet</servlet-name>
        <servlet-class>Serverlets.ShowAllTopicsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>Serverlets.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTopic</servlet-name>
        <url-pattern>/AddTopicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBlogName</servlet-name>
        <url-pattern>/ChangeBlogNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTopic</servlet-name>
        <url-pattern>/RemoveTopicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePost</servlet-name>
        <url-pattern>/RemovePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPost</servlet-name>
        <url-pattern>/ShowPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGrade</servlet-name>
        <url-pattern>/AddGradeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTopicsServlet</servlet-name>
        <url-pattern>/ShowTopicsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllTopicsServlet</servlet-name>
        <url-pattern>/ShowAllTopicsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
